<%= render "form" %>
<!-- <form action="/monkeys" method="POST">
  <label>Name:
    <input type="text" name="monkey[name]" />
  </label>
  <br>
  <label>Date of Monkey Birth:
    <input type="date" name="monkey[birth_date]" />
  </label>
  <br>
  <label>Colour of Monkey:
    <input type="text" name="monkey[color]" />
  </label>
  <br>
  <label>Binary Gender Distinction:
    <input type="radio" name="monkey[sex]" value="M"/>
    <input type="radio" name="monkey[sex]" value="F"/>
  </label>
  <br>
  <label>Describe your monkey:
    <textarea name="monkey[description]" ></textarea
  </label>
  <br>
  <input type="submit" value='MAKE MONKEY!'/>
</form> -->
